{% extends "layout.html" %}
{% block title %}Evo Fitness{% endblock %}
{% block page%}{{exercise.name}}{%endblock%}

{%block content%}
<div class="row teal">
    <div class="col s12">
      <!-- <div class="card">
        <div class="card-image">
          <img class ="activator"src="{{exercise.image}}">
          <span class="card-title">{{exercise.name}}</span>
        </div>
        <div class="card-content activator">
          <p>Level: {{exercise.level}}<br>
            Muscle: {{exercise.muscle}}
        </p>
        </div>
        <div class = "card-reveal">
            <span class = "card-title">{{exercise.name}}<i class ="material-icons right">close</i></span>
            <h6>Instructions: </h6>
            <p>{{exercise.instructions}}</p>
        </div>
      </div> -->
      <img class="responsive-img" src="{{exercise.image}}">
     
      <h1 class = "center-align">{{exercise.name}}</h1>
    
      <div><h5 class = "left-align">Level: {{exercise.level | capitalize}}</h5></div>
      
    
      <h5 class = "left-align">Muscle: {{exercise.muscle | capitalize}}</h5>
      
      
      <p class = "left-align flow-text">Instructions: {{exercise.instructions}}</p>
      <div class = "row">
        <a class = "col s6 left-align" href="#">Next Exercise</a>
        <a class = "col s6 right-align" href="#">Previous Exercise</a>
      </div>
      
    </div>
    <!-- <div class="row">
      <div class="col s12 m8 offset-m2">
          <div class="card">
              <div class="card-image">
                  <img class="responsive-img" src="{{exercise.image}}" alt="Exercise Image">
              </div>
              <div class="card-content">
                  <h4 class="center-align">Exercise Name</h4>
                  <div class="row">
                      <div class="col s6">
                          <p><strong>Intensity:</strong> Medium</p>
                      </div>
                      <div class="col s6">
                          <p><strong>Muscle:</strong> Quadriceps</p>
                      </div>
                  </div>
                  <h5 class="center-align">Instructions</h5>
                  <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
      </div>
  </div> -->
  </div>
{%endblock%}